{% extends "base.html" %}

{% block content-viewer %}
    <div class="container">
        <div class="row">
            <div class="col-10 mx-auto mt-5">
                <canvas id="myChart"></canvas>
            </div>
            
        </div>
    </div>
    
{% endblock content-viewer %}

{% block content-console-log %}
    {% for msg in topic %}
        {{msg}}
    {% endfor %}
{% endblock content-console-log %}

{% block content-setting  %}
    <p> this is a template info</p>
{% endblock content-setting %}