.body {
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f7f9fc;
    opacity: 1 !important;
}

/* content all element of th page */
.wrapper {
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-color: #f7f9fc; 
    margin-right: auto;
    margin-left: auto;
    box-sizing: unset;
}

.main .menue-button {
    margin-left: 0;
}

.main .menue-button-hidden {
    margin-left: 0;
}

.main .menue-button:hover {
    color:#1659c7; 
    cursor: pointer;
}

/* left sidebar menu */
.sidebare {
    background-color: #ffffff;
    max-height: 100%;
    position: fixed;
    overflow:auto;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.sidebare-hidden {
    min-width: auto ;
    max-width: 0px;
    min-height: 100%;
    max-height: 100%;
    margin-left: 0;
}

.sidebare-content {
    /* min-height: 500px; */
    justify-content: center;
    max-height: 100%;
    overflow-y:scroll;
    background:transparent;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
}

.disable-scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}


#sidebare-btn-header-id {
    padding: 10;
    text-align: center;
    color:#7e7d81;
}

#sidebare-btn-header-id:hover {
    color:#938a8a;
    cursor: pointer;
}

.sidebare-btn {
    color:#7e7d81;
}

.sidebare-btn .activie {
   color: #007bff;
}

.sidebare-btn:hover {
    color:#e8be95;
    cursor: pointer;
}

/* main grid content 2 columns for sidebar and main */
.main-grid{
    width: 100%;
    max-width: 100%;
    background-color: #f6f8fb;
    min-height: 100%;

}

.main-grid .sidebare-grid {
    width: max-content;
}

.viewer-grid .viewer-grid-content{
    display: inline-grid;
    height: 100%;
    width: 100%;   
    margin-left: 229;
    grid-template-rows: repeat(5, auto) ;
    grid-template-columns: repeat(4, auto);
    grid-gap:20px;
    padding-top: 0;
    padding-left: 10;
    padding-right: 0;
    padding-bottom: 0;
}

.viewer-grid .viewer-grid-content-slided{
    display: inline-grid;
    height: 100%;
    width: 100%;   
    margin-left: 0;
    grid-template-rows: repeat(5, auto) ;
    grid-template-columns: repeat(4, auto);
    grid-gap:20px;
    padding-top: 0;
    padding-left: 10;
    padding-right: 0;
    padding-bottom: 0;
}


.viewer-grid .viewer-grid-content .container-viewer{
    background-color: #17a2b8;  
    grid-row: 2 /span 3;
    grid-column: 1 / span 3;
}

.viewer-grid .viewer-grid-content .container-setting{
    background-color: #ffc107;
    grid-row: 2 /span 3;
    grid-column: 4;
}

.viewer-grid .viewer-grid-content .container-console{
    background-color: #dc3545 ;
    grid-row: 5;
    grid-column: 1 /span 3;
}

.viewer-grid .viewer-grid-content .footer-test{

    height: 50px;
    /* position: fixed;
    right: 0;
    left: 0;
    
    margin-left: max-content; */
    bottom: 0;
    max-height: 80;
    color: black;
    grid-row: 4;
    grid-column: 1 /span 2;

}

/* content footer  */
.footer-content {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: max-content;
    max-height: 80;
    background: transparent;
    border-top: 3px solid #f6f8fb;
    transform: all 2s;
    -webkit-transform: all 2s;
    -moz-transform: all 2s;
    -ms-transform: all 2s;
    -o-transform: all 2s;
}

.footer-content-hidden {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 0px;
    max-height: 80;
    background: transparent;
    border-top: 3px  #f6f8fb;
}

#button-toggle-id {
    color:#7e7d81;
}

#button-toggle-id:hover {
    border-radius: 90px;
    background-color: #e8be95;
    cursor: pointer;
}


/* 
    -------------------------------------------------------------------------
    Css transformation
    ________________________________________________________________________
*/

.sidebare-transform {
    transition: all  .035s ease-in-out;
    -webkit-transition: all  .035s ease-in-out;
    -moz-transition: all  .035s ease-in-out;
    -ms-transition: all  .035s ease-in-out;
    -o-transition: all  .035s ease-in-out;
}

/* 
    -------------------------------------------------------------------------
    Css for closed slidebar
    ________________________________________________________________________
    */



