.body {
    overflow-y: scroll;
    overflow-x: hidden;
    opacity: 1 !important;
}

/* content all element of th page */
.wrapper {
    align-items: stretch;
    display: flex;
    width: 100%;
    background-color: #292634;

    width: 100%;
    margin-right: auto;
    margin-left: auto;
    box-sizing: unset;
}

/* left sidebar menu */
.sidebare {
    min-width: 80px;
    max-width: 80px;
    min-height: 100%;
    max-height: 100%;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #3e4555;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebare-transform {
    transition: all 2s;
    -webkit-transition: all 2s;
    -moz-transition: all 2s;
    -ms-transition: all 2s;
    -o-transition: all 2s;
}

.sidebare-hidden {
    background-color: #3e4555;
    direction: ltr;
    min-width: 0px;
    max-width: 0px;
    min-height: 0%;
    max-height: 0%;
}

/* content hearder menu bar viewew and footer  */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    min-width: 0;
    color: #a9acb3;
}

.main header{
    background-color: transparent;
    padding: 0;
}

.main .main-content {
    background-color: transparent;
    padding-left: 10;
    color: #f7f2f2;

}

.main .menue-button {
    color: rgba(255,255,255,.5);
}

.main .menue-button:hover {
    color: rgb(39, 10, 240);
    cursor: pointer;
}

/* content footer  */
.footer-content {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 80;
    max-height: 80;
    background: transparent;
    border-top: 1px solid #3e4555;
    transform: all 2s;
    -webkit-transform: all 2s;
    -moz-transform: all 2s;
    -ms-transform: all 2s;
    -o-transform: all 2s;
}

.footer-content-hidden {
    height: 50px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    margin-left: 0px;
    max-height: 80;
    background: transparent;
    border-top: 1px solid #3e4555;
}